/** Don't store CSS here if possible.
  * Enter important CSS in Primo development environment when possible.  Look for #lcs_slide_out-14613
  * Read about Customization Packages.  See:  https://knowledge.exlibrisgroup.com/Primo/Product_Documentation/020Primo_VE/025Display_Configuration/010Configuring_Discovery_Views_for_Primo_VE#Creating_a_Customization_Package 
  * Used (at least) in View: 01CARLI_UIC:CARLI_UIC
  * aberry3, 04-2020
  */
button.btn-chat.btn {
  background-color: #001e62;
  color: white;
}

button.btn-chat.btn:hover {
  background-color: #d50032;
  color: white;
}

#s-lch-msg-log .s-lch-msg-patron .s-lch-msg-body {
  background-color: #007699;
}

/*# sourceMappingURL=libchat_include.css.map */
