@import "fromStudio", "colors";

.prm-background,
html,
body,
prm-search .ui-blocker,
prm-featured-results .horizontal-content-container .horizontal-content-control,
prm-search-bar .simple-search-wrapper .search-options:after,
prm-atoz-search-bar .simple-search-wrapper .search-options:after,
prm-browse-search-bar .simple-search-wrapper .search-options:after,
prm-tags-search-bar .simple-search-wrapper .search-options:after,
prm-newspapers-search-bar .simple-search-wrapper .search-options:after,
prm-search-bar .simple-search-wrapper .search-options md-divider,
prm-atoz-search-bar .simple-search-wrapper .search-options md-divider,
prm-browse-search-bar .simple-search-wrapper .search-options md-divider,
prm-tags-search-bar .simple-search-wrapper .search-options md-divider,
prm-newspapers-search-bar .simple-search-wrapper .search-options md-divider,
.prm-view-overlay-inner,
.__xs prm-facet,
.__sm prm-facet,
.__sm .sidebar,
.__xs .sidebar,
.available-facets .section-content .md-chips .md-chip .md-button:before,
.multiselect-submit .multiselect-submit-inner,
prm-full-view-cont prm-recomendation-item .media-on-hover .pin-button,
prm-full-view-cont .recommendations-title:after,
prm-full-view-cont .recommendations-title prm-icon,
prm-databases-categorize .sticking-wrapper,
md-virtual-repeat-container#prm-simple-search
  .md-autocomplete-suggestions
  md-divider,
md-dialog md-toolbar:not(.md-menu-toolbar),
md-card .card-content-block {
  background-color: $uic-smoke;
  border-color: white;
}

.prm-alert-bg,
.bar.alert-bar,
.classic-input .search-scope {
  background-color: $uic-bright-blue-light;
}

.prm-alert-border,
.bar.alert-bar,
.classic-input .search-scope {
  border-color: $uic-bright-blue-medium;
}

#signInBtn > span {
  color: white;
}

.prm-alert,
// .bar.alert-bar,
.classic-input .search-scope {
  background-color: $uic-blue;
  border-color: $uic-blue;
  color: white;
}

.prm-background.prm-hue2,
html.prm-hue2,
body.prm-hue2,
.line-clamp-1:after,
.line-clamp-2:after,
.line-clamp-3:after,
.line-clamp-4:after,
.line-clamp-5:after,
.prm-horizontal-content .horizontal-content-item md-card > .md-button,
prm-search-result-list .results-header,
prm-search-result-list .results-footer,
prm-search .prm-hue2.ui-blocker,
prm-featured-result-item md-card md-card-title,
prm-featured-results
  .horizontal-content-container
  .prm-hue2.horizontal-content-control,
prm-search-result-tool-bar .floated-max-results-message,
.list-item-wrapper,
prm-search-bar .simple-search-wrapper .prm-hue2.search-options:after,
prm-atoz-search-bar .simple-search-wrapper .prm-hue2.search-options:after,
prm-browse-search-bar .simple-search-wrapper .prm-hue2.search-options:after,
prm-tags-search-bar .simple-search-wrapper .prm-hue2.search-options:after,
prm-newspapers-search-bar .simple-search-wrapper .prm-hue2.search-options:after,
prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2,
prm-atoz-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2,
prm-browse-search-bar
  .simple-search-wrapper
  .search-options
  md-divider.prm-hue2,
prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2,
prm-newspapers-search-bar
  .simple-search-wrapper
  .search-options
  md-divider.prm-hue2,
prm-search-bar .advanced-search-tabs,
prm-atoz-search-bar .advanced-search-tabs,
prm-browse-search-bar .advanced-search-tabs,
prm-tags-search-bar .advanced-search-tabs,
prm-newspapers-search-bar .advanced-search-tabs,
prm-search-bar .advanced-search-output md-card,
prm-atoz-search-bar .advanced-search-output md-card,
prm-browse-search-bar .advanced-search-output md-card,
prm-tags-search-bar .advanced-search-output md-card,
prm-newspapers-search-bar .advanced-search-output md-card,
.prm-hue2.prm-view-overlay-inner,
.prm-full-view-dialog,
.full-view-inner-container,
.__xs prm-facet.prm-hue2,
.__sm prm-facet.prm-hue2,
.__sm .prm-hue2.sidebar,
.__xs .prm-hue2.sidebar,
.available-facets
  .section-content
  .md-chips
  .md-chip
  .prm-hue2.md-button:before,
.multiselect-submit .prm-hue2.multiselect-submit-inner,
.__xs prm-full-view-cont .recommendations-wrapper,
.__sm prm-full-view-cont .recommendations-wrapper,
prm-recomendation-item .media-on-hover .pin-button,
prm-recomendation-item .media-on-hover .pin-button:hover,
prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue2.pin-button,
.recommendations-title:after,
prm-full-view-cont .prm-hue2.recommendations-title:after,
.__xs prm-full-view-cont .recommendations-title:after,
.__sm prm-full-view-cont .recommendations-title:after,
.recommendations-title prm-icon,
prm-full-view-cont .recommendations-title prm-icon.prm-hue2,
.__xs prm-full-view-cont .recommendations-title prm-icon,
.__sm prm-full-view-cont .recommendations-title prm-icon,
prm-gallery-collection .collection-folder,
prm-gallery-collection .collection-folder .item-meta,
prm-gallery-collection .collection-folder h3 span,
prm-gallery-item .collection-element,
prm-gallery-item .collection-element .resource-type,
prm-gallery-item .collection-element .item-title,
prm-browse-search
  md-list.prm-list.prm-linkable-list-items
  md-list-item
  ._md-list-item-inner,
prm-databases-categorize .prm-hue2.sticking-wrapper,
prm-tags-results-list
  md-list.prm-list.prm-linkable-list-items
  md-list-item
  ._md-list-item-inner,
prm-resource-recommender md-card,
md-virtual-repeat-container#prm-simple-search
  .md-autocomplete-suggestions
  md-divider.prm-hue2,
md-dialog md-toolbar.prm-hue2:not(.md-menu-toolbar),
md-grid-tile,
.tiles-grid-tile,
md-grid-tile md-list prm-spinner.overlay-cover:after,
md-grid-tile .tile-content prm-spinner.overlay-cover:after,
.tiles-grid-tile md-list prm-spinner.overlay-cover:after,
.tiles-grid-tile .tile-content prm-spinner.overlay-cover:after,
md-card.default-card,
prm-featured-result-item md-card,
md-card .prm-hue2.card-content-block,
md-list.prm-list.prm-linkable-list-items md-list-item ._md-list-item-inner {
  background-color: #eeeeee;
}



a.uic_button {
  background-color: $uic-blue;
  color: $uic-white !important;

  &:hover, &:active {
    background-color: $uic-red !important;
  }
}

.prm-primary-bg.prm-hue1,
prm-spinner.prm-hue1.overlay-cover.light-on-dark:after,
prm-topbar .top-nav-bar,
prm-search-bar.prm-hue1,
prm-atoz-search-bar.prm-hue1,
prm-browse-search-bar.prm-hue1,
prm-tags-search-bar.prm-hue1,
prm-newspapers-search-bar.prm-hue1,
prm-collection-gallery-header .prm-hue1.collection-header-inner,
prm-tree-nav prm-spinner .prm-hue1.diamond {
  // background-color: orange;
}