@import "uic/overrides";

@mixin hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

body {
  font-family: /*Theinhardt,*/ -apple-system, BlinkMacSystemFont, "Segoe UI",
    "HelveticaNeue-Light", "Helvetica Neue Light", "Source Sans Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

/**
 * Alert bar
 */
// body::before {
//   content: "Due to scheduled maintenance, this system may be unavailable from Sat. May 29 4pm – Sun. May 30 4pm.";
//   display: inline-block;
//   background-color: $uic-yellow;
//   text-align: center;
//   width: 100%;
//   padding: .5rem;
//   font-weight: 500;
//   font-size: 1.25em;
//   color: $uic-blackish;
// }

/**
 * Logo
 */
prm-logo .product-logo .organization-logo:focus,
prm-logo .product-logo .organization-logo:hover {
  box-shadow: none;
}

/**
 * LibChat
 * If possible, CSS is stored here and not directly in LibChat.
 */
#lcs_slide_out-14613 {
  z-index: 40 !important;

  header {
    a {
      text-align: unset !important;
      font-weight: 700;
      padding: 1rem !important;
      width: 100%;
      border: none transparent !important;
      top: calc(-2rem + -1em) !important;
      left: unset !important;
      bottom: auto !important;
    }
  }

  body {
    background: none transparent !important;
    border: none transparent !important;
    padding: unset !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Source Sans Pro",
      "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    color: #252525;

    #s-lch-msg-log .s-lch-msg-patron .s-lch-msg-body {
      color: blue;
    }
  }
}

/**
 * Login header
 */
.login-header {
  width: 100%;
  background-color: $uic-navy;
  margin-bottom: 2rem;
}

/**
 * Home Page
 */

#home_page_content {
  @media (min-width: 600px) {
    .row {
      display: flex;
      flex-direction: row;
      .column {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
      }
    }
  }
}

/**
 * Journals Page
 */

prm-journals > prm-search > div[role="document"] {
  @media (min-width: 960px) {
    .flex-md-25,
    .layout-md-row > .flex-md-25,
    .layout-row > .flex-md-25 {
      flex: 1 0 25%;
      max-width: 20rem;
    }
  }

  @media (min-width: 960px) {
    .flex-md-50,
    .layout-md-row > .flex-md-50,
    .layout-row > .flex-md-50 {
      max-width: 36rem;
    }
  }
}
