<div id="home_page_content">
  <div class="row">
    <div class="column">

      <md-card class="default-card">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Welcome to UIC Library Search</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            UIC Library Search provides simple, one-stop searching for books and
            e-books, videos, articles, digital media, and more.
          </p>
        </md-card-content>
      </md-card>

    </div>
  </div>
  <div class="row">
    <div class="column">

      <md-card class="default-card">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">About Subject Guides</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            <a href="https://researchguides.uic.edu/"
              >UIC Library Subject Guides</a
            >
            are written by UIC Librarians to provide help with Library services
            and resources.
          </p>
          <p>
            For specific help with UIC Library Search, please see our
            <a href="https://researchguides.uic.edu/search-help"
              >Search Help Subject Guide</a
            >
          </p>
        </md-card-content>
        <md-card-actions>
          <md-button class="uic_button md-primary md-raised" href="https://researchguides.uic.edu/">Browse Subject Guides</md-button>
          </md-button>
        </md-card-actions>
      </md-card>

      <md-card class="default-card">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Where can I get help?</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            For help starting your search, click on the blue "Chat with a
            Librarian" tab below, or
            <a href="https://library.uic.edu/contact">contact us</a>.
          </p>
        </md-card-content>
        <md-card-actions>
          <md-button class="uic_button md-primary md-raised" href="https://library.uic.edu/contact">Contact a Librarian</md-button>
          </md-button>
        </md-card-actions>
      </md-card>

    </div>
    <div class="column">

      <md-card class="default-card">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Sign In to your Library Account</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            UIC Library Search helps you manage your research. <a href="/discovery/login?vid=01CARLI_UIC:CARLI_UIC&section=overview">Sign in</a> to your UIC Library account for access to all available materials, and to review your current loans, requests, fees, blocks, messages and other personal details.  You can:
          </p>
          <ul>
            <li>Renew books and videos</li>
            <li>Create lists of favorites</li>
            <li>Export citations to Refworks and Endnote Web</li>
            <li>
              View full search results. (Some databases only show results when
              you're signed in.)
            </li>
          </ul>
        </md-card-content>
        <md-card-actions>
          <md-button class="uic_button md-primary md-raised" href="/discovery/login?vid=01CARLI_UIC:CARLI_UIC&section=overview">Sign In</md-button>
          </md-button>
        </md-card-actions>
      </md-card>
      
    </div>
  </div>
</div>